
#game {

  background: no-repeat;
  position: relative;
  width: 800px;
  height: 600px;
  background-image: url('resources/images_menu/fundo.png');
  margin: auto;

}


#logo {
  display: block;
  margin-left: auto;
  width: 60%;
  height: 60%;
  margin-right: auto;
}

nav {
  position: absolute;
  display: block;
  align: center;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  left: 40%;

}

nav button {
  display: block;
  background-color: Transparent;
  border: none;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 12px;
  padding: 15px 110px;

}

button:hover {
  transform: scale(1.1);

}

#playButton {
     background-image: url("resources/images_menu/jogar.png");
}

#optionsButton {
  background-image: url("resources/images_menu/opcoes.png");
  }


#exitButton {
    background-image: url("resources/images_menu/sair.png");
  }

#creditsButton {
    background-image: url("resources/images_menu/sair.png");
  }

#historyButton {
    background-image: url("resources/images_menu/sair.png");
  }

#controlsButton {
    background-image: url("resources/images_menu/sair.png");
  }
