#game {
  background: no-repeat;
  position: relative;
  width: 800px;
  height: 600px;
  background-image: url('resources/menu_inicial/background.jpg');
  margin: auto;

}

#logo {
  display: block;
  margin-left: auto;
  width: 60%;
  height: 60%;
  margin-right: auto;
}

nav {
	visibility: visible;
	position: absolute;
	display: block;
	align: center;
	margin-right: auto;
	margin-left: auto;
	top: 50%;
 	left: 34%;

}

nav button {
	visibility: visible;
  border: none;
  display: block;
  background-color: Transparent;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 12px;
  padding: 25px 140px;

}

button:hover {
  transform: scale(1.1);

}

#playButton {
     background-image: url("resources/menu_inicial/jogar2.png");
     background-position: left 60px top 8px;
}

#historyButton {
    background-image: url("resources/menu_inicial/historia2.png");
    background-position: left 22px top 8px;
  }


#creditsButton {
    background-image: url("resources/menu_inicial/creditos2.png");
    background-position: left 22px top 8px;
  }

#controlsButton {
      background-image: url("resources/menu_inicial/ajuda2.png");
      background-position: left 75px top 8px;
}


#exitButton {
    background-image: url("resources/menu_inicial/sair2.png");
    background-position: left 83px top 8px;
}
