@font-face {
    font-family: retro;
    src: url(PressStart2P.ttf) format("truetype");
}

p {
    font-family: retro;
}

#game {
  background: no-repeat;
  position: relative;
  width: 800px;
  height: 600px;
  background-image: url('../resources/menu_inicial/background.jpg');
  margin: auto;
}

#logo {
  display: block;
  margin-left: auto;
  width: 60%;
  height: 60%;
  margin-right: auto;
}

a {
    text-decoration: none; 
     background-color: none;
    color:white;

}

nav {
	visibility: visible;
	position: absolute;
	display: block;
	margin-right: auto;
	margin-left: auto;
	top: 43%;
 	left: 31%;
  font-size: 40px;
  color: white;
  line-height: 0.6;

 
  text-align: center;

}

button:hover {
  font-size: 30%;
  transform: scale(1.1);

}

#soundbutton{
    padding: 25px 25px;
    background-image: url("../resources/menu_inicial/sound2.png");
    background-color: Transparent;
    position: relative;
    background-repeat: no-repeat;
    border: none;
    display: block;
    left: 93%;
    top: 92%;

}
